@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    DAW<br />
    Bucharest<br />
    <abbr title="Group">G:</abbr>
    CTI 453
</address>

<address>
    <strong>Email:</strong> <a href="mailto:buduianualex@gmail.com">Alex Buduianu</a><br />
</address>
